services:
  tests:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      SELENIUM_REMOTE_URL: http://chrome:4444/wd/hub
    depends_on:
      - chrome

  chrome:
    image: selenium/standalone-chrome:latest
    shm_size: 2gb
