services:
  chrome-node:
    image: selenium/node-chrome:latest
    platform: linux/amd64
    depends_on:
      - hub
    container_name: jenkins_git
    environment:
      SE_EVENT_BUS_HOST: myhub
      SE_EVENT_BUS_PUBLISH_PORT: 4442
      SE_EVENT_BUS_SUBSCRIBE_PORT: 4443
  hub:
    image: selenium/hub
    platform: linux/amd64
    container_name: myhub
    ports:
      - "4442:4442"
      - "4443:4443"
      - "4444:4444"
  tests:
    image: maven:latest
    environment:
      BROWSERSTACK_USERNAME: julianricardo_DheB8s
      BROWSERSTACK_ACCESS_KEY: qGixyEUMYTLSzHuABJxZ
    platform: linux/amd64
    working_dir: /src
    volumes:
      - .:/src