name: CI Serenity Pipeline

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  checkout-code:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Instalar dependencias (Maven)
        run: mvn -B dependency:resolve

      - name: Realizar ejecución test UI
        run: mvn clean verify
